/* You can add global styles to this file, and also import other style files */
 
 nav ul li{
    display: inline-block;
}


div {
    width: 50%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 3px;
}